body {
    font-family: Arial, sans-serif;
    background-color: #F7F9FA;
    margin: 0;
    padding: 0;
}

.form-container {
    width: 90%;
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
    text-align: center;
}

label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

input[type="text"], input[type="color"], select, textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

textarea {
    resize: vertical;
    height: 100px;
}

button {
    display: block;
    width: 100%;
    background-color: #007BFF;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

/* Estilos para tabletas */
@media (min-width: 481px) and (max-width: 768px) {
    .form-container {
        width: 85%;
    }
}

/* Estilos para celulares */
@media (max-width: 480px) {
    .form-container {
        width: 100%;
        padding: 15px;
    }

    h2 {
        font-size: 20px;
        margin-bottom: 15px;
    }

    label {
        margin-top: 8px;
    }

    input[type="text"], input[type="color"], select, textarea {
        padding: 8px;
        margin: 4px 0;
    }

    button {
        padding: 8px;
        margin-top: 15px;
    }
}
